NUXT_SESSION_PASSWORD=5ac9b0be53b44b32942ac4ca131b1811

# --- Database Configuration ---
# Set dialect to 'postgresql' or 'sqlite'
# DB_DIALECT="postgresql"
DB_DIALECT="sqlite"

# SQLite connection string (local file or Turso URL)
DATABASE_URL="file:./.data/db/sqlite.db"
 
PORT=5400